@use "../variables/colors" as *;
@use "../variables/type-vars" as *;

.footer {
    $currentColor: $text-color-light;

    background: $clr-primary-800;
    color: $currentColor;
    padding: var(--section-spacing) var(--horizontal-padding);

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        &__img {
            filter: brightness(0) invert(1);
            width: clamp(70px, 12vw, 160px);
            height: auto;
            object-fit: cover;
            aspect-ratio: 1;
            opacity: 0.8;
        }

        &__title {
            color: inherit;
            font-style: italic;
            font-weight: normal;
            font-family: "Lora";
            @include uppercase;
            margin-left: 1em;
            margin-bottom: 0;
            font-size: $fs-700;
        }
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        font-size: $fs-400;
    }

    .info-container {
        display: flex;
        flex-direction: column;
    }

    &__address,
    &__phone {
        color: inherit;
    }

    &__address {
        margin-bottom: 0.75em;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 1;
        margin-left: 30px;
    }

    &__nav-list {
        display: flex;
        align-items: flex-end;
        gap: 1em;
        margin-bottom: 1.5em;
    }

    &__nav-item {
        text-decoration: underline;
        font-family: "Hk Grotesk";
    }

    &__social-list {
        display: flex;
        gap: 0.5em;
    }

    &__social-link {
        font-size: inherit;
        transition: color 300ms ease;
        color: $currentColor;

        svg {
            height: 2.5em;
            width: 2.5em;
        }
    }

    &__nav-item,
    &__social-link {
        transition: color 300ms ease;

        &:hover,
        &:focus {
            color: rgba($currentColor, 0.8);
        }

        &:focus {
            outline: 2px $clr-secondary solid;
            outline-offset: 4px;
        }
    }
}

@media screen and (max-width: 850px) {
    .footer {
        &__nav-list {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 550px) {
    .footer {
        .logo {
            flex-direction: column;
            align-items: flex-start;

            &__title {
                font-size: $fs-600;
                margin-left: 0;
                margin-top: 1em;
            }
        }

        .content-container {
            flex-direction: column;
            gap: clamp(40px, 10vh, 70px);
        }
    }
}