@use '../variables/all' as *;

.footer {
    $currentColor: $text-color-light;
    margin-top: space-rs(1100);
    padding: space-rs(800) var(--horizontal-padding);
    color: $currentColor;
    background: clr-primary(800);

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: space(700);

        &__img {
            width: clamp(70px, 12vw, 160px);
            height: auto;
            object-fit: cover;
            opacity: 0.8;
            filter: brightness(0) invert(1);
            aspect-ratio: 1;
        }

        &__title {
            margin: 0 0 0 1em;
            color: inherit;
            font-weight: normal;
            font-size: fs(700);
            font-family: $font-family-primary;
            font-style: italic;
            @include uppercase;
        }
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: fs(400);
    }

    .info {
        min-width: min(100%, 300px);
    }

    &__address,
    &__phone {
        color: inherit;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        gap: space(400);
        align-items: flex-end;
        margin-bottom: space(500);
    }

    &__nav-item {
        font-family: $font-family-secondary;
        text-decoration: underline;
    }

    &__social-list {
        display: flex;
        gap: space(400);
        justify-content: end;
    }

    &__social-link {
        width: min(40px, 12.5vw);
        height: auto;
        color: $currentColor;
        font-size: 0;
        transition: color 300ms ease;
        aspect-ratio: 1;

        svg {
            // width: 100%;
            height: 100%;
        }
    }

    &__nav-item,
    &__social-link {
        transition: color 300ms ease;

        &:hover,
        &:focus {
            color: rgba($currentColor, 0.6);
        }

        &:focus {
            outline: 2px $clr-secondary solid;
            outline-offset: 4px;
        }
    }
}

@media screen and (max-width: 850px) {

    .footer {

        &__nav-list {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 550px) {

    .footer {

        .logo {
            flex-direction: column;
            align-items: flex-start;

            &__title {
                margin-top: 1em;
                margin-left: 0;
                font-size: fs(600);
            }
        }
    }
}