@use "../variables/colors" as *;
@use "../variables/type-vars" as *;
@use "../variables/spacing" as *;
@use '../variables/misc' as *;
@use '../components/langselect.scss';
@use '../components/searchbar.scss';
@use '../components/search-toggle.scss';
@use '../components/hamburger.scss';
@use '../components/nav-menu.scss' as nav;

// MARK : Upperheader

.upper-header {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 2em;
    color: $text-color-dark;
    font-weight: bold;
    font-size: $fs-500;
    font-family: $font-family-secondary;

    &__logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: $font-family-primary;
        font-style: italic;
    }

    &__logo-img {
        width: clamp(60px, 7vw, 80px);
        margin-right: 20px;
    }

    &__call-us {
        font-weight: 400;
        font-size: inherit;
        white-space: nowrap;
    }
}

// MARK : Secondary Nav

.secondary-nav {
    display: flex;
    align-items: baseline;

    &__item {
        margin-right: 1em;
        white-space: nowrap;
    }

    &__item,
    .lang-select__btn {
        padding: 0.5em;

        &:hover,
        &:focus {
            background-color: $clr-primary-200;
            transition: background-color 150ms ease;
        }
    }

    .container {
        display: flex;
    }
}

.search-bar {
    flex: 0 1 300px;
}

// MARK : Mainheader

.main-header {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 40px;
    align-items: baseline;
    width: 100%;
    color: $text-color-light;
    font-size: $fs-400;
    background-color: $headerr-clr;
    padding-inline: 5%;

    .logo,
    .hamburger,
    .search-bar-toggle,
    &__search-bar-container {
        display: none;
    }
}

.nav-link-menu {
    position: absolute;
    z-index: 2;
    display: none;
    gap: 2.5em;
    width: max-content;
    min-width: 100%;
    padding: 1em 3em 1em 1.25em;
    color: $text-color-dark;
    font-weight: 400;
    font-size: inherit;
    background-color: $clr-primary-100;
    border-radius: $border-radius;
    @include shadow-400;

    &__title {
        margin-bottom: 0.3em;
        color: inherit;
        font-weight: bold;
        font-size: $fs-300;
        word-wrap: normal;
        @include uppercase
    }

    &__link {
        color: inherit;
        word-wrap: normal;
        transition: color 200ms ease-in;

        &:hover {
            color: $clr-secondary;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &.menu--expanded {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {

    .upper-header,
    .main-header {
        font-size: $fs-300
    }

    .nav-link-menu {

        &__title {
            font-size: $fs-200;
        }
    }

    .action {

        &__title {
            font-size: $fs-400
        }
    }
}

@media screen and (max-width: 950px) {

    .upper-header {
        font-size: $fs-400;

        &__logo,
        .search-bar {
            display: none;
        }
    }

    // MARK : Mainheader small

    .main-header {
        align-items: center;
        justify-content: start;
        padding-block: 1em;

        .hamburger {
            display: initial;
        }

        .logo {
            display: block;
            color: inherit;
            font-weight: bold;
            font-size: $fs-400;
            font-style: italic;
            white-space: nowrap;
        }

        .search-bar {
            width: 100%;
            font-size: $fs-200;
        }

        &__search-bar-container {
            display: initial;
            flex: 0 1 300px;
            margin-left: auto
        }
    }

    .main-nav {
        @include nav.collapsed-style;
        z-index: 2;
        font-size: $fs-400;
    }

    .nav-link-menu {
        position: static;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
        padding: 0 0 1em 0;
        padding-left: 1.5em;
        font-size: $fs-400;
        background-color: unset;
        box-shadow: none;
        transform: none;
        transform-origin: top;

        &__list {
            gap: 0;
            width: 100%;
        }

        &__link {
            padding: 0.75em;
            padding-left: 1em;

            @include not-last {
                border-bottom: 1px solid $border-light-100;
            }

            &:hover {
                color: inherit;
                background-color: $headerr-hover-clr;
            }
        }

        &__title {
            margin-bottom: 0;
            margin-block: 1em;
        }

        @include menu-expanded {
            display: flex;
            color: $text-color-light;
        }
    }
}

@media screen and (max-width: 600px) {

    .secondary-nav .container {
        display: none;
    }

    .main-header {
        gap: 0;
        justify-content: space-between;

        .logo {
            font-size: $fs-400;
        }

        .search-bar-toggle {
            display: initial;
            margin-left: auto;
        }

        &__search-bar-container {
            $animation-dur: 200ms;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1em;
            background-color: $headerr-clr;
            border: 1px solid $border-dark-400;
            transform: translateY(100%);

            visibility: hidden;
            opacity: 0;
            transition: multiple-transitions($animation-dur, ease-in-out, opacity, visibility);

            @include menu-expanded {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .main-nav {
        font-size: $fs-300;

        &__additional-item {
            display: block;
        }
    }

    .nav-link-menu {
        font-size: $fs-300;

        &__title {
            font-size: $fs-100;
        }
    }
}