@use "../variables/colors"as *;
@use "../variables/type"as *;
@use "../variables/spacing"as *;
@use '../variables/misc'as *;
@use '../components/langselect.scss';
@use '../components/searchbar.scss';
@use '../components/search-toggle.scss';
@use '../components/hamburger.scss';
@use '../components/nav-menu.scss'as nav;



// MARK : Upperheader
.upper-header {
    width: 100%;
    padding: 0.75em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "HK Grotesk";
    font-size: var(--fs-200);
    color: $text-color-dark;
    gap: 2em;
    font-weight: bold;

    &__logo {
        display: flex;
        align-items: center;
        font-family: "Lora";
        font-size: var(--fs-300);
        font-weight: bold;
        font-style: italic;
    }

    &__logo-img {
        width: clamp(60px, 7vw, 80px);
        margin-right: 20px;
    }

    &__call-us {
        font-weight: 400;
        font-size: inherit;
        white-space: nowrap;
    }

    display: flex;

}

// MARK : Secondary Nav

.secondary-nav {
    display: flex;
    align-items: baseline;

    &__item {
        margin-right: 1em;
        white-space: nowrap;

        &:hover {
            opacity: 0.8;
        }
    }

    .container {
        display: flex;
    }

}

.search-bar {
    flex: 0 1 300px;
}

// MARK : Mainheader
.main-header {
    width: 100%;
    background-color: $clr-primary-700;
    display: flex;
    align-items: baseline;
    gap: 40px;
    padding-inline: 5%;
    font-size: var(--fs-200);
    position: relative;
    z-index: 2;


    .logo,
    .hamburger,
    .search-bar-toggle,
    &__search-bar-container {
        display: none;
    }

}

.main-nav {
    font-size: var(--fs-300);
}

.nav-link-menu {
    display: none;
    position: absolute;
    width: max-content;
    min-width: 100%;
    background-color: $clr-primary-50;
    color: $text-color-dark;
    font-size: inherit;
    font-weight: 400;
    padding: 1em 3em 1em 1.25em;
    gap: 2.5em;
    z-index: 2;
    border-radius: $border-radius;
    @include shadow-400;

    &__title {
        font-weight: bold;
        color: inherit;
        word-wrap: normal;
    }

    &__link {
        color: inherit;
        word-wrap: normal;
    }

    &__list {
        display: flex;
        gap: 1em;
        flex-direction: column;
    }

    &.menu--expanded {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    .upper-header__logo {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 950px) {
    .upper-header {

        &__logo,
        .search-bar {
            display: none;
        }
    }

    // MARK : Mainheader small
    .main-header {
        justify-content: start;
        align-items: center;
        padding-block: 1em;

        .hamburger {
            display: initial;
        }

        .logo {
            display: block;
            color: $clr-primary-100;
            font-weight: bold;
            font-style: italic;
            white-space: nowrap;
        }

        &__search-bar {
            width: 100%;
        }

        &__search-bar-container {
            flex: 0 1 300px;
            display: initial;
            margin-left: auto
        }
    }

    .main-nav {
        @include nav.collapsed-style;
        z-index: 2;

    }

    .nav-link-menu {
        width: 100%;
        position: static;
        transform-origin: top;
        box-shadow: none;
        font-size: var(--fs-100);
        background-color: unset;
        transform: none;
        padding: 2em 0;
        flex-wrap: wrap;

        &__list {
            width: 100%;
            gap: 0;
        }

        &__link {
            padding: 1em;
            border-bottom: 1px $clr-primary-700 solid;
            padding-left: 2em;

            &:hover {
                background-color: $clr-primary-700;
            }
        }

        &__title {
            font-size: inherit;
            padding-left: 1.5em;
            opacity: 0.9;
            margin-bottom: 1em;
        }

        &.menu--expanded {
            display: flex;
            color: $text-color-light;
        }


    }
}



@media screen and (max-width: 600px) {
    .secondary-nav .container {
        display: none;
    }

    .main-header {
        justify-content: space-between;
        gap: 0;

        .logo {
            font-size: var(--fs-400);
        }

        .search-bar-toggle {
            display: initial;
            margin-left: auto;
        }

        &__search-bar-container {
            $animation-dur: 200ms;

            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1em;
            transform: translateY(100%);
            opacity: 0;
            background-color: $clr-primary-700;
            transition: multiple-transitions($animation-dur, ease-in-out, opacity, visibility);
            border: 1px solid $border-dark-400;

            @include menu-expanded {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}