@use '../variables/colors' as *;
@use '../variables/misc' as *;
@use '../variables/type-vars' as *;
@use 'sass:math';
@use '../components/logo.scss' as *;
@use '../components/langselect.scss';
@use '../components/searchbar.scss';
@use '../components/search-toggle.scss' as *;
@use '../components/hamburger.scss' as *;
@use '../components/nav-menu.scss' as nav;

.upper-header {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: flex-end;
    color: $text-color-dark;
    font-weight: bold;
    font-size: $fs-400;
    font-family: $font-family-secondary;
    padding-inline: var(--horizontal-padding);
    padding-block: 0.5em;

    &__account-btn {
        display: none;
    }

    &__link,
    .lang-select__btn {
        padding: 0.5em;

        &:hover,
        &:focus {
            background-color: $clr-primary-200;
            transition: background-color 150ms ease;
        }
    }
}

.main-header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: $fs-400;
    background-color: $headerr-clr;

    .content {
        display: flex;
        gap: 2.5em;
        align-items: center;
        justify-content: space-between;
        padding: 1em var(--horizontal-padding);
    }

    .controls {
        display: flex;
        flex-grow: 1;
        gap: 1em;
        justify-content: flex-end;
    }

    &__search-bar-container {
        flex: 0 1 300px;
    }

    &__search-bar {
        width: 100%;
    }

    &__login-btn {
        @include flex-center;
        white-space: nowrap;
    }

    .search-bar-toggle,
    .hamburger {
        display: none;
    }

    &__login-btn,
    .search-bar__input,
    .logo__title {
        font-size: inherit;
    }
}

.main-nav {
    padding-inline: var(--horizontal-padding);
    border-top: 1px solid $border-light-200;

    &__additional-item {
        display: none;
    }
}

.nav-link-menu {
    position: absolute;
    flex-direction: column;
    min-width: 100%;
    color: $text-color-dark;
    font-size: inherit;
    background-color: $clr-neutral-100;
    @include shadow-400;

    &__link {
        min-width: 100%;
        padding: .75em 3em .75em 0.75em;
        white-space: nowrap;

        &:not(:last-child) {
            border-bottom: 1px solid $border-dark-400;
        }

        &:hover {
            background-color: $clr-neutral-300;
        }
    }

    @include menu-expanded {
        display: flex;
    }
}

@media screen and (max-width: 800px) {

    .main-header {
        font-size: $fs-300;

        .controls {
            align-items: center;
        }

        .hamburger,
        .search-bar-toggle {
            display: initial;
        }

        &__search-bar-container {
            $animation-dur: 200ms;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1em;
            background-color: $headerr-clr;
            border: 1px solid $border-dark-400;
            transform: translateY(100%);

            visibility: hidden;
            opacity: 0;
            transition: multiple-transitions($animation-dur, ease-in-out, opacity, visibility);

            @include menu-expanded {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .main-nav {
        @include nav.collapsed-style;
        z-index: 2;
        font-size: $fs-500;
    }

    .nav-link-menu {
        position: static;
        padding-bottom: 1em;
        color: inherit;
        background: none;
        box-shadow: none;
        transform: none;

        &__link {
            padding: 1em 0 1em 1.5em;
            color: inherit;

            &:not(:last-child) {
                border-color: $border-light-100;
            }

            &:hover {
                background-color: $headerr-hover-clr;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .upper-header {

        &__nav-list {
            display: none;
        }

        &__account-btn {
            display: initial;
            color: $clr-secondary;

            @include hover-opacity;

            .icon {
                margin-right: 3px;
            }
        }
    }

    .main-header {

        &__login-btn {
            display: none;
        }

        .logo {

            &__tagline {
                font-size: $fs-100;
            }
        }
    }

    .main-nav {
        font-size: $fs-300;

        &__additional-item {
            display: block;
        }
    }
}

@media screen and (max-width: 400px) {

    .main-header {

        .content {
            flex-direction: column;
            gap: 0;
        }

        .logo {
            align-self: stretch;

            &__img {
                width: 50px;
                height: 50px;
            }
        }

        .controls {
            align-self: end;
        }
    }
}