@use '../variables/all' as *;
@use '../components/nav-menu.modular.scss' as nav;

.os-upper-header {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: flex-end;
    color: $text-color-dark;
    font-weight: bold;
    font-size: fs(400);
    font-family: $font-family-secondary;
    padding-inline: var(--horizontal-padding);
    padding-block: 0.5em;

    &__account-btn {
        display: none;
    }

    &__link,
    .lang-select__btn {
        padding: space(300);

        &:hover,
        &:focus {
            background-color: clr-primary(200);
            transition: background-color 150ms ease;
        }
    }
}

.os-main-header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: fs(400);
    background-color: $header-clr;

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: space(400) space(600);
        align-items: center;
        justify-content: space-between;
        padding: space-rs(600) var(--horizontal-padding);

    }

    .controls {
        display: flex;
        flex-grow: 1;
        gap: space-rs(500);
        justify-content: flex-end;
    }

    &__search-bar-container {
        flex: 0 1 300px;
    }

    &__search-bar {
        width: 100%;
    }

    &__login-btn {
        @include flex-center;
        white-space: nowrap;
    }

    .search-bar-toggle,
    .hamburger {
        display: none;
    }

    &__login-btn,
    .search-bar__input,
    .logo__title {
        font-size: inherit;
    }
}

.os-main-nav {
    @include nav.base-style;
    padding-inline: var(--horizontal-padding);
    border-top: 1px solid $border-light-200;

    &__additional-item {
        display: none;
    }
}

.os-nav-link-menu {
    position: absolute;
    flex-direction: column;
    min-width: 100%;
    color: $text-color-dark;
    font-size: inherit;
    background-color: clr-neutral(100);
    @include shadow-400;

    &__link {
        min-width: 100%;
        padding: space(400) space(600) space(400) space(400);
        white-space: nowrap;

        &:not(:last-child) {
            border-bottom: 1px solid $border-dark-400;
        }

        &:hover {
            background-color: clr-neutral(300);
        }
    }

    @include menu-expanded {
        display: flex;
    }
}

@media screen and (max-width: 850px) {

    .os-main-header {
        font-size: fs(300);

        .controls {
            align-items: center;
        }

        .hamburger,
        .search-bar-toggle {
            display: initial;
        }

        &__search-bar-container {
            $animation-dur: 200ms;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: space(500);
            background-color: $header-clr;
            border: 1px solid $border-dark-400;
            transform: translateY(100%);

            visibility: hidden;
            opacity: 0;
            transition: multiple-transitions($animation-dur, ease-in-out, opacity, visibility);

            @include menu-expanded {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .os-main-nav {
        @include nav.collapsed-style;
        z-index: 2;
        font-size: fs(500);
    }

    .os-nav-link-menu {
        position: static;
        margin-bottom: space(600);
        color: inherit;
        background: none;
        box-shadow: none;
        transform: none;

        &__link {
            padding-left: clamp(16px, 7.5%, 28px);
            color: inherit;

            &:not(:last-child) {
                border-color: $border-light-100;
            }

            &:hover {
                background-color: $header-hover-clr;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .os-upper-header {

        &__nav-list {
            display: none;
        }

        &__account-btn {
            display: initial;
            color: $clr-secondary;
            transition: color 200ms ease;

            &:hover,
            &:focus {
                color: $clr-btn-hover;
            }

            .icon {
                margin-right: 3px;
            }
        }
    }

    .os-main-header {

        &__login-btn {
            display: none;
        }

        .logo {

            &__tagline {
                font-size: fs(300);
            }
        }
    }

    .os-main-nav {
        font-size: fs(300);

        &__additional-item {
            display: block;
        }
    }
}

@media screen and (max-width: 400px) {

    .os-main-header {

        .logo {
            align-self: stretch;

            &__img {
                width: 50px;
                height: 50px;
            }
        }

        .controls {
            align-self: end;
        }
    }
}