@use '../variables/type-vars' as *;
@use '../components/pagination-menu.scss' as pagination-menu;

.pagination-container {
    margin: 4em auto 0 auto;
    font-size: $fs-500;
}

.pagination-menu {
    @include pagination-menu.base-style;
}

@media screen and (max-width: 1200px) {

    .pagination-container {
        font-size: $fs-400;
    }
}

@media screen and (max-width: 1000px) {

    .pagination-container {
        font-size: $fs-300;
    }
}

@media screen and (max-width: 800px) {

    .pagination-menu {
        @include pagination-menu.stick;
        @include pagination-menu.decrease-items;
    }
}

@media screen and (max-width: 500px) {

    .pagination-container {
        font-size: $fs-200;
    }
}

@media screen and (max-width: 450px) {

    .pagination-menu {
        @include pagination-menu.wrap;
    }
}