{% extends "base-layout.njk" %}

{%- from 'components/article.macro.njk' import article %}

{% block css %}
    {{super()}}
    <link rel="stylesheet" href="/css/pages/posts-index.css">
{% endblock %}

{% block content %}
    <main class="index-page page-content-container">
        <h1 class='section-title'>{{title}}</h1>
        <div class="index-page__posts-list">
            {%- for post in pagination.items %}
                {% set title = post.title %}
                {% set img = post.featured_img_url %}
                {% set body = post.preview %}
                {% set link = '/' + post.link %}
                {{ article(title, img, null, body, link, "post", 160)}}
            {% endfor -%}
        </div>

        {% include "components/_posts-pagination.njk" %}
    </main>
{% endblock %}