@use "variables/colors" as *;
@use "variables/spacing" as *;
@use "variables/type" as *;
@use "variables/type-vars" as *;
@use "variables/misc" as *;
@use "sass:map";
@use "sass:list";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 2px solid $clr-primary-900;
    }
}

body {
    width: 100%;
    font-family: $font-family-primary;
    background: $background-clr;
    background-color: $background-clr;
}

section {
    max-width: 1800px;
    margin-inline: auto;
}

.page-content-container {
    padding-inline: var(--horizontal-padding);
    padding-bottom: var(--section-spacing-large);
}

a {
    color: currentColor;
    text-decoration: none;
}

button,
a {
    cursor: pointer;
}

.btn-primary {
    color: white;
    font-family: $font-family-secondary;
    background-color: $clr-secondary;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 200ms ease-out;

    &:focus,
    &:hover {
        background-color: $clr-btn-hover;
    }

    &:focus {
        outline: 1px solid blue;
    }
}

.btn-large {
    display: inline-block;
    padding: 1.35em 0.75em;
    font-weight: bold;
    font-size: $fs-400;
    @include uppercase;
}

.btn-small {
    padding: 0.75em 0.75em;
    font-weight: bold;
    font-size: $fs-400;
}

.btn-underline {
    color: $clr-secondary;
    font-family: $font-family-secondary;
    text-decoration: underline;

    &:hover {
        color: $clr-btn-hover;
    }
}

.btn-underline-small {
    font-weight: bold;
    font-size: $fs-300;
}

.link-primary {
    color: $clr-secondary;
    font-weight: bold;
    font-size: var(--fs-responsive-body);
    transition: color 200ms ease;

    &:hover {
        color: $clr-btn-hover;
    }
}

.read-more {
    @include uppercase;
    color: $clr-secondary;
    font-weight: bold;
    font-size: $fs-300;
}

.text-input {
    display: inline-block;
    padding: 1em 0.5em;
    color: $text-color-dark;
    font-size: $fs-400;
    font-family: $font-family-primary;
    border: none;
    border-radius: $border-radius;

    &::placeholder {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        opacity: 0.8;
    }
}

.text-input-medium {
    font-size: $fs-400;
}

.text-input-small {
    font-size: $fs-300;
}

.textfield {
    display: inline;

    &-grow {
        display: inline-flex;
        flex-direction: column;

        .text-input {
            flex-grow: 1;
            background-color: $clr-neutral-100;
        }
    }
}

label {
    display: block;
    margin-bottom: 15px;
    color: $text-color-dark;
    font-weight: bold;
    font-size: $fs-500;
}

button {
    font-family: unset;
    background: none;
    border: none;
}

.card {
    font-size: $fs-300;
    background-color: $clr-neutral-100;
    border-radius: $border-radius;

    .card-title {
        font-weight: bold;
        font-family: $font-family-primary;
    }
}

.menu-collapse {
    display: none;
}

.icon {
    display: inline-block;
    color: inherit;
    vertical-align: middle;

    svg,
    use {
        width: 100%;
        height: auto;
        color: inherit;
        fill: currentColor;
    }
}

.icon-small {
    width: 24px;
    height: 24px;
}