@use "variables/colors"as *;
@use "variables/spacing"as *;
@use "variables/type"as *;
@use "variables/type-vars"as *;
@use "variables/misc"as *;
@use "sass:map";
@use "sass:list";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: 2px solid $clr-primary-900;
    }
}

section {
    padding: var(--section-spacing) var(--horizontal-padding);
    max-width: 1800px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    background: $background-clr;
    font-family: "Lora";
}

button,
a {
    cursor: pointer;
}

.btn-primary {
    cursor: pointer;
    background-color: $clr-secondary;
    color: white;
    border: none;
    transition: background-color 200ms ease-out;
    font-family: "HK Grotesk";
    border-radius: $border-radius;

    &:focus,
    &:hover {
        background-color: $clr-btn-hover;
    }

    &:focus {
        outline: 1px solid blue;
    }
}

.btn-large {
    font-weight: bold;
    @include uppercase;
    font-size: $fs-400;
    padding: 1.35em 0.75em;
    display: inline-block;
}

.btn-small {
    font-weight: bold;
    padding: 0.75em 0.75em;
    font-size: $fs-400;
}

.btn-underline {
    font-family: 'HK Grotesk';
    color: $clr-secondary;
    text-decoration: underline;

    &:hover {
        color: $clr-btn-hover;
    }
}

.btn-underline-small {
    font-weight: bold;
    font-size: $fs-300;
}

.read-more {
    @include uppercase;
    font-weight: bold;
    font-size: $fs-300;
    color: $clr-secondary;
}

.text-input {
    padding: 1em 0.5em;
    display: inline-block;
    border: none;
    border-radius: $border-radius;
    font-family: "Lora";
    color: $text-color-dark;
    font-size: $fs-400;

    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        opacity: 0.8;
    }
}


.text-input-medium {
    font-size: $fs-400;
}

.text-input-small {
    font-size: $fs-300;
}

.textfield {
    display: inline;

    &-grow {
        display: inline-flex;
        flex-direction: column;

        .text-input {
            flex-grow: 1;
            background-color: $clr-primary-50;
        }
    }
}

label {
    display: block;
    font-size: $fs-500;
    color: $text-color-dark;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background: none;
    border: none;
    font-family: unset;
}

.card {
    background: $clr-primary-50;
    border-radius: $border-radius;
    font-size: $fs-300;

    .card-title {
        font-family: "Lora";
        font-weight: bold;
    }
}

.menu-collapse {
    display: none;
}

.icon {
    vertical-align: middle;
    color: inherit;
    display: inline-block;

    svg,
    use {
        width: 100%;
        height: auto;
        fill: currentColor;
        color: inherit;
    }
}

.icon-small {
    width: 24px;
    height: 24px;
}