@use "variables/colors"as *;
@use "variables/type"as *;
@use "variables/spacing"as *;
@use 'variables/misc'as *;


// MARK : Upperheader
.upper-header {
    width: 100%;
    padding: 0.75em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "HK Grotesk";
    font-size: var(--fs-200);
    @include uppercase;
    color: $clr-primary-900;
    gap: 2em;
    font-weight: bold;

    &__logo {
        display: flex;
        align-items: center;
        font-family: "Lora";
        font-size: var(--fs-300);
        font-weight: bold;
        font-style: italic;
    }

    &__logo-img {
        width: clamp(60px, 7vw, 80px);
        margin-right: 20px;
    }

    &__call-us {
        font-weight: 400;
        font-size: inherit;
        white-space: nowrap;
    }

    display: flex;

}

// MARK : Secondary Nav

.secondary-nav {
    display: flex;
    align-items: baseline;

    &__item {
        margin-right: 1em;
        white-space: nowrap;

        &:hover {
            opacity: 0.8;
        }
    }

    .container {
        display: flex;
    }

}



// MARK : Lang-select
.lang-select {
    position: relative;

    &__btn {
        vertical-align: middle;
        font-size: inherit;
        font-weight: bold;
        letter-spacing: inherit;
        text-transform: inherit;
        color: inherit;
        white-space: nowrap;

        &:hover {
            opacity: 0.8;
        }
    }

    &__drop-menu {
        background-color: $clr-primary-50;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        z-index: 4; // Might cause some problems later, idk & idc
        flex-direction: column;
        @include shadow-400;
        @include border-radius;

        &.menu--expanded {
            display: flex;

        }
    }

    &__item {
        padding: 1em 2em 1em 1em;
        font-weight: inherit;

        &:hover {
            background-color: $clr-primary-100;
        }
    }
}


.search-bar {
    flex-shrink: 1;
    flex-basis: 300px;
}

.icon {
    vertical-align: middle;
    fill: $text-color-dark;
    height: 24px;
    width: 24px;
}

// MARK : Searchbar

.search-bar {
    display: flex;
    align-items: stretch;

    &__input {
        flex-grow: 1;
        padding: 0.75em 0.5em;
        border: none;
    }

    &__input,
    &__input::placeholder {
        font-size: var(--fs-300);
    }

    &__btn {
        padding: 1em;

        svg {
            fill: white;
        }
    }
}

// MARK : Mainheader

.main-header {
    width: 100%;
    margin-top: -1px; // fixes annoying empty line bug(?)
    background-color: $clr-primary-800;
    display: flex;
    align-items: baseline;
    gap: 40px;
    padding-inline: 5%;
    font-size: var(--fs-200);

    .logo,
    .hamburger,
    .search-bar,
    .search-toggle {
        display: none;
    }

    .search-toggle {
        $animation-duration: 200ms;
        position: relative;
        padding: 0.5em;

        svg {
            fill: white;
            width: 30px;
            aspect-ratio: 1;
            height: auto;
        }

        &__close-icon,
        &__search-icon {
            transition: opacity $animation-duration ease-in;
        }

        &__close-icon {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition-delay: 0ms;
        }

        &__search-icon {
            transition-delay: $animation-duration - 100ms;
        }

        &--open {
            .search-toggle__close-icon {
                opacity: 1;
                transition-delay: $animation-duration - 100ms;
            }

            .search-toggle__search-icon {
                opacity: 0;
                transition-delay: 0ms;
            }
        }

        &:hover {
            background: $clr-primary-700;
        }
    }
}

// MARK : Mainnav

.main-nav {
    --hidden: false; // Way to monitor when nav bar is hidden in javascript
    display: flex;
    align-items: center;

    &__item {
        position: relative;
    }

    &__close-btn {
        display: none;
    }

    &__label,
    &__btn {
        font-size: inherit;
        line-height: 26px; //just dont
        display: block;
        color: white;
        font-weight: 600;
        padding: 1.5em 1em;

        svg {
            fill: white;
            margin-left: -5px;
        }

        &:hover,
        &:focus {
            background-color: $clr-primary-700;
        }

        &:focus {
            outline-offset: -2px;
        }

    }
}

.nav-link-menu {
    display: none;
    position: absolute;
    width: max-content;
    min-width: 100%;
    background-color: $clr-primary-50;
    color: $text-color-dark;
    font-size: inherit;
    font-weight: 400;
    padding: 1em 3em 1em 1.25em;
    gap: 2.5em;
    z-index: 2;
    @include border-radius;
    @include shadow-400;

    &__title {
        font-weight: bold;
        color: inherit;
        word-wrap: normal;
    }

    &__link {
        color: inherit;
        word-wrap: normal;
    }

    &__list {
        display: flex;
        gap: 1em;
        flex-direction: column;
    }

    &.menu--expanded {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    .upper-header__logo-img {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .upper-header {
        &__logo {
            display: none;
        }

        .search-bar {
            display: none;
        }
    }

    // MARK : Mainheader small
    .main-header {
        justify-content: start;
        align-items: center;
        padding-block: 1em;

        .hamburger {
            padding: .5em;
            display: initial;

            &__icon {
                height: 30px;
                width: 30px;
                fill: white;
            }

            &:hover {
                background-color: $clr-primary-700;
            }
        }

        .logo {
            display: block;
            color: $clr-primary-100;
            font-weight: bold;
            font-style: italic;
            white-space: nowrap;
        }

        .search-bar {
            display: flex;
            margin-left: auto;
        }
    }

    // MARK : main nav small

    .main-nav {
        --hidden: true; // Way to monitor when nav bar is hidden in javascript

        $animation-dur: 400ms;
        position: fixed;
        flex-direction: column;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: $clr-primary-800;
        align-items: stretch;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-100%);
        padding: .75em;
        z-index: 2;
        transition: transform $animation-dur ease-in-out,
            visibility $animation-dur linear;

        &__item:not(:last-child) {
            border-bottom: 1px solid $clr-primary-700;
        }

        &__btn {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__close-btn {
            display: initial;
            width: max-content;
            padding: .75em;
            margin-bottom: 2em;

            &:hover {
                background-color: $clr-primary-600;
            }
        }

        &__close-icon {
            fill: white;
            height: 36px;
            width: 36px;
        }

        &__icon {
            transition: 200ms transform ease-in;
        }

        &.menu--expanded {
            visibility: visible;
            transform: none;
        }
    }

    .nav-link-menu {
        width: 100%;
        position: static;
        transform-origin: top;
        box-shadow: none;
        font-size: var(--fs-100);
        background-color: unset;
        transform: none;
        padding: 2em 0;
        flex-wrap: wrap;

        &__list {
            width: 100%;
            gap: 0;
        }

        &__link {
            padding: 1em;
            border-bottom: 1px $clr-primary-700 solid;
            padding-left: 2em;

            &:hover {
                background-color: $clr-primary-700;
            }
        }

        &__title {
            font-size: inherit;
            padding-left: 1.5em;
            opacity: 0.9;
            margin-bottom: 1em;
        }

        &.menu--expanded {
            display: flex;
            color: $text-color-light;
        }


    }
}



@media screen and (max-width: 600px) {
    .secondary-nav .container {
        display: none;
    }

    .main-header {
        justify-content: space-between;
        gap: 0;

        .logo {
            font-size: var(--fs-400);
        }

        .search-bar {
            $animation-dur: 300ms;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $clr-primary-700;
            opacity: 0;
            transition:
                opacity $animation-dur ease-in-out,
                transform $animation-dur ease-in-out,
                visibility $animation-dur linear;
            padding: 1em 1em;
            visibility: hidden;

            &--open {
                visibility: visible;
                opacity: 1;
                transform: translateY(100%);
            }
        }

        .search-toggle {
            display: initial;
        }
    }

}