$clr-primary-900: hsla(6, 15%, 13%, 1);
$clr-primary-800:hsl(16, 27%, 19%);
$clr-primary-700:hsl(16, 22%, 26%);
$clr-primary-600:hsl(15, 20%, 35%);
$clr-primary-500:hsl(16, 16%, 47%);
$clr-primary-400:hsl(16, 24%, 64%);
$clr-primary-300:hsl(15, 27%, 76%);
$clr-primary-200:hsl(15, 28%, 85%);
$clr-primary-100:hsl(15, 20%, 89%);
$clr-primary-50:hsl(17, 33%, 96%);


$clr-secondary: hsla(0, 61%, 47%);
$clr-btn-hover: rgb(136, 34, 58);
// $clr-btn-hover: hsl(11, 79%, 54%);

$text-color-dark : $clr-primary-800;
$text-color-light : white;
$header-color:$clr-primary-800;
$background-clr: $clr-primary-100;

$clr-accent-golden: hsl(39, 69%, 59%);


// $clr-accent-golden: hsl(45, 44%, 52%);
// $clr-primary-950: #4a352e;
// $clr-primary-900: hsl(15, 46%, 20%);
// $clr-primary-800: hsl(25, 20%, 41%);
// $clr-primary-700: hsl(15, 16%, 35%);
// $clr-primary-600: hsl(15, 35%, 85%);
// $clr-primary-300: hsl(15, 27%, 91%);
// $clr-primary-250: hsl(15, 33%, 94%);
// $clr-primary-200: hsl(15, 33%, 96%);
// $clr-primary-100: hsl(15, 100%, 99%);
// $clr-accent-golden:hsl(349, 26%, 32%);