@use "./colors.scss"as *;

$border-radius: 2px;
$transition-clr : color 200ms ease;

@mixin no-border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin no-border-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@mixin no-border-radius-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@mixin no-border-radius-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@mixin shadow-400 {
    box-shadow:
        0px 2px 4px 0px hsla(0, 0%, 0%, 0.2),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 4px 5px 0px hsla(0, 0%, 0%, 0.14);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin grid-preferred-columns($preferred-count, $min-size, $column-gap:0px, $row-gap:0px) {
    column-gap: $column-gap;
    row-gap: $row-gap;
    grid-template-columns: repeat(auto-fill,
            minmax(max(calc((100% - $column-gap * ($preferred-count - 1)) / $preferred-count),
                    $min-size), 1fr));
}