@use "./colors.scss"as *;

@mixin border-radius {
    border-radius: 2px;
}

@mixin shadow-400 {
    box-shadow:
        0px 2px 4px 0px hsla(0, 0%, 0%, 0.2),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 4px 5px 0px hsla(0, 0%, 0%, 0.14);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$transition-clr : color 200ms ease;