$space-vert-xs: clamp(30px, 4vh, 60px);
$space-vert-s: clamp(50px, 8vh, 80px);

$space-hori-s: clamp(40px, 6vw, 80px);
$space-hori-xs: clamp(30px, 4vw, 60px);

:root {
    --horizontal-padding: max(16px, 6vw);
    --section-spacing: clamp(50px, 8vh, 100px);
    --section-spacing-large: clamp(70px, 14vh, 140px);
    --section-spacing-small: clamp(20px, 4vh, 40px);
}

@mixin bypass-horizontal-padding {
    width: calc(100% + var(--horizontal-padding) * 2);
    max-width: none;
    margin-left: calc(-1 * var(--horizontal-padding));
}

@media screen and (max-width: 1100px) {

    :root {
        --section-spacing-large: clamp(70px, 10vh, 140px);
    }
}