@use "sass:list";
@use "sass:map";

$font-sizes: (
    1200: clamp(3.25rem, 1rem + 3vw, 6rem),
    1100: 3rem,
    1000: 2.5rem,
    900: 2.25rem,
    800: 2rem,
    700: 1.75rem,
    600: 1.5rem,
    500: 1.25rem,
    400: 1.125rem,
    300: 1rem,
    200: 0.875rem,
    100: 0.75rem,
);

$font-sizes-responsive: (
    1000:var(--fs-responsive-h1),
    900:var(--fs-responsive-h2),
    800:var(--fs-responsive-h3),
    700:var(--fs-responsive-h4),
    600:var(--fs-responsive-h5),
    500:var(--fs-responsive-h6),
    400:var(--fs-responsive-body),
);

@function fs($size) {
    @return map.get($font-sizes, $size);
}

@function fs-rs($size) {
    @return map.get($font-sizes-responsive, $size);
}

$line-height-400: 1.5;

$heading-margins: (
    "h1":(1em, 0.75em),
    "h2":(1em, 0.75em),
    "h3":(1em, 0.75em),
    "h4":(1em, 0.75em),
    "h5":(1em, 0.75em),
    "h6":(0.75em, 0.5em),
);

$font-family-primary: 'Lora', sans-serif;
$font-family-secondary: 'HK Grotesk', serif;

@mixin remove-heading-top-margins {
    @for $i from 1 through 6 {
        h#{$i} {
            margin-top: 0;
        }
    }
}

@mixin uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
}