@use './type-vars' as *;
@use './colors' as *;
@use "sass:list";
@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
    font-weight: bold;
    font-family: $font-family-secondary;
    font-style: normal;
    src: url("../../assets/HKGrotesk-Bold.woff2") format("woff2");
}

@font-face {
    font-weight: regular;
    font-family: $font-family-secondary;
    font-style: normal;
    src: url("../../assets/HKGrotesk-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: regular;
    font-family: $font-family-secondary;
    font-style: italic;
    src: url("../../assets/HKGrotesk-Italic.woff2") format("woff2");
}

:root {
    --fs-responsive-body: #{$fs-500};

    --fs-responsive-h1: #{$fs-1200};
    --fs-responsive-h2: #{$fs-1100};
    --fs-responsive-h3: #{$fs-1000};
    --fs-responsive-h4: #{$fs-900};
    --fs-responsive-h5: #{$fs-800};
    --fs-responsive-h6: #{$fs-700};
}

@media screen and (max-width: 1200px) {

    :root {
        --fs-responsive-body: #{$fs-400};
        --fs-responsive-h2: #{$fs-1100};
        --fs-responsive-h3: #{$fs-900};
    }
}

@media screen and (max-width: 800px) {

    :root {
        --fs-responsive-h1: #{$fs-900};
        --fs-responsive-h2: #{$fs-800};
        --fs-responsive-h3: #{$fs-700};
    }
}

@media screen and (max-width: 500px) {

    :root {
        --fs-responsive-body: #{$fs-300};
        --fs-responsive-h1: #{$fs-800};
        --fs-responsive-h2: #{$fs-700};
        --fs-responsive-h3: #{$fs-600};
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        display: block;
        margin-top: list.nth(map.get($heading-margins, h#{$i}), 1);
        margin-bottom: list.nth(map.get($heading-margins, h#{$i}), 2);
        color: $heading-color;
        font-weight: bold;
        font-size: var(--fs-responsive-h#{$i});
        font-family: $font-family-secondary;
    }

    .fs-h#{$i} {
        font-size: var(--fs-responsive-h#{$i});
    }
}

p,
li {
    max-width: 70ch;
    margin-bottom: 1em;
    color: $text-color-dark;
    font-size: var(--fs-responsive-body);
    line-height: $line-height-400;
}

li {
    margin-left: 20px;
}