@use "sass:list";
@use "sass:map";

$fs-1200: clamp(3.25rem, 1rem + 3vw, 6rem);
$fs-1100: 3rem;
$fs-1000: 2.5rem;
$fs-900: 2.25rem;
$fs-800: 2rem;
$fs-700: 1.75rem;
$fs-600: 1.5rem;
$fs-500: 1.25rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;
$fs-100: 0.75rem;
$line-height-400: 1.5;

$heading-margins: ("h1":(1em, 0.75em),
    "h2":(1.25em, 0.75em),
    "h3":(1em, 0.75em),
    "h4":(1em, 0.75em),
    "h5":(1em, 0.75em),
    "h6":(0.75em, 0.5em),
);

@mixin apply-heading-top-margins {
    @for $i from 1 through 6 {
        h#{$i} {
            margin-top: list.nth(map.get($heading-margins, h#{$i}), 1);
        }
    }
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}