@use '../variables/all' as *;

button,
a {
    cursor: pointer;
}

button {
    font-family: unset;
    background: none;
    border: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.btn-primary {
    color: white;
    font-family: $font-family-secondary;
    background-color: $clr-secondary;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 200ms ease-out;

    &:focus,
    &:hover {
        background-color: $clr-btn-hover;
    }

    &:focus {
        outline: 1px solid blue;
    }
}

.btn-large {
    display: inline-block;
    padding: 1.35em 0.75em;
    font-weight: bold;
    font-size: fs(400);
    @include uppercase;
}

.btn-small {
    padding: 0.75em 0.75em;
    font-weight: bold;
    font-size: fs(400);
}

.btn-underline {
    color: $clr-secondary;
    font-family: $font-family-secondary;
    text-decoration: underline;

    &:hover {
        color: $clr-btn-hover;
    }
}

.btn-underline-small {
    font-weight: bold;
    font-size: fs(300);
}

.link-primary {
    color: $clr-secondary;
    font-weight: bold;
    font-size: fs-rs(400);
    transition: color 200ms ease;

    &:hover {
        color: $clr-btn-hover;
    }
}