@use '../variables/all' as *;

.drop-down {

    select {
        border: 1px solid clr-neutral(500);
        cursor: pointer;

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}