@use "../variables/colors" as *;
@use "../variables/type-vars" as *;
@use "../variables/misc" as *;
@use "sass:list";

$_bg-clrs-list: hsl(226, 85%, 67%),
    hsl(173, 80%, 35%),
    hsl(25, 81%, 57%),
    hsl(349, 86%, 56%);
$_bg-hover-clrs-list: hsl(226, 100%, 60%),
    hsl(173, 95%, 30%),
    hsl(25, 95%, 55%),
    hsl(349, 90%, 53%);
$_slide-up-trans-dur: 250ms;
$_background-clr-trans-dur : 150ms;

@mixin base-style {
    position: relative;
    width: 25%;
    overflow: hidden;
    color: $text-color-light;
    text-align: center;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
        inset: 0;
    }

    &__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1em 1.5em 3em 1.5em;
    }

    &__desc {
        color: inherit;
        font-size: $fs-400;
        font-family: $font-family-secondary;
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
        transition: multiple-transitions($_slide-up-trans-dur, ease-in-out, transform, visibility, opacity);
    }

    &__title {
        position: relative;
        top: 50%;
        z-index: 2;
        width: 100%;
        color: inherit;
        font-size: $fs-600;
        font-style: italic;
        transform: translateY(-50%);
        transition: top $_slide-up-trans-dur ease-in-out;
        margin-block: 1em 0;
    }

    &__number {
        display: none;
        align-self: end;
        font-weight: bold;
        font-size: $fs-1000;
        opacity: 0.8;
    }

    &__img-overlay {
        position: absolute;
        inset: 0;
        background: rgba(black, 0.3);

        &::after {
            position: absolute;
            transform: translateY(100%);
            transition: transform $_slide-up-trans-dur ease-in-out;
            content: "";
            inset: 0;
        }
    }

    @include property-from-list(background-color, $_bg-clrs-list, ".guide__img-overlay::after");

    &:hover,
    &:focus {

        .guide {

            &__title {
                top: 0;
            }

            &__desc {
                transform: translateY(0);
                visibility: visible;
                opacity: 0.9;
            }

            &__img-overlay::after {
                transform: none;
            }
        }
    }

    &:focus {
        z-index: 2
    }
}

@mixin no-hover-style {

    .guide {

        &__number {
            display: initial;
        }

        &__desc {
            transform: none;
            visibility: visible;
            opacity: 0.9;
        }

        &__title {
            top: 0
        }

        &__img-overlay::after {
            transform: none;
            transition: background-color $_background-clr-trans-dur ease-in;
        }

        &:focus {
            @include property-from-list(background-color, $_bg-hover-clrs-list, ".guide__img-overlay::after");
        }
    }
}

@mixin collapsed-style {
    $transition-dur: 200ms;
    width: 100%;

    &__content {
        align-items: stretch;
        padding: 1em 2em 1.5em 1em;
    }

    &__img {
        display: none;
    }

    &__title {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        width: auto;
        margin: 0;
        transform: none;
    }

    &__number {
        display: initial;
        font-size: $fs-900;
    }

    &__desc {
        margin: 0;
        margin-top: 1em;
        text-align: start;
        transform: none;
        visibility: visible;
        opacity: 0.9;
    }

    &__img-overlay::after {
        transform: none;
        transition: background-color $_background-clr-trans-dur ease-in;
    }

    &:hover,
    &:focus {
        @include property-from-list(background-color, $_bg-hover-clrs-list, ".guide__img-overlay::after");
    }
}