@use "../variables/all" as *;
@use "sass:list";

$_bg-clrs-list: hsl(226, 85%, 67%),
    hsl(173, 80%, 35%),
    hsl(25, 81%, 57%),
    hsl(349, 86%, 56%);
$_bg-hover-clrs-list: hsl(226, 100%, 60%),
    hsl(173, 95%, 30%),
    hsl(25, 95%, 55%),
    hsl(349, 90%, 53%);
$_slide-up-trans-dur: 300ms;
$_background-clr-trans-dur : 150ms;

@mixin base-style {
    position: relative;
    flex-shrink: 0;
    width: 25%;
    overflow: hidden;
    color: $text-color-light;

    font-size: fs(400);

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
        inset: 0;
    }

    &__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        justify-content: space-between;
        height: 100%;
        padding: 1.35em 1.25em 2em 1.25em;
    }

    &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: inherit;
        font-size: inherit;
        font-family: $font-family-secondary;
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
        transition: multiple-transitions($_slide-up-trans-dur, ease-in-out, transform, visibility, opacity), ;
    }

    &__title-container {
        position: relative;
        top: 50%;
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        transform: translateY(-50%);
        transition: top $_slide-up-trans-dur ease-in-out;
    }

    &__title {
        z-index: 2;
        margin: 0;
        color: inherit;
        font-size: fs(500);
        font-style: italic;
        text-align: center;
    }

    &__number {
        display: none;
        margin-top: -0.1em;
        margin-left: 0.5em;
        font-weight: bold;
        font-size: fs(1000);
        opacity: 0.8;
    }

    &__img-overlay {
        position: absolute;
        background: rgba(black, 0.25);
        inset: 0;

        &::before,
        &::after {
            position: absolute;
            content: "";
            inset: 0;
        }

        &::before {
            opacity: 0.5;
            mix-blend-mode: multiply;
        }

        &::after {
            transform: translateY(100%);
            transition: transform $_slide-up-trans-dur ease-in-out;
        }
    }

    @include property-from-list(background-color, $_bg-clrs-list, ".guide__img-overlay::after,.guide__img-overlay::before");

    &:hover,
    &:focus {

        .guide {

            &__title-container {
                top: 0;
                transform: none;
            }

            &__desc {
                transform: translateY(0);
                visibility: visible;
                opacity: 0.9;
            }

            &__img-overlay::after {
                transform: none;
            }
        }
    }

    &:focus {
        z-index: 2
    }
}

@mixin no-hover-style {
    aspect-ratio: unset;

    &__number {
        display: initial;
    }

    &__desc {
        transform: none;
        visibility: visible;
        opacity: 0.9;
    }

    &__title-container {
        top: 0;
        justify-content: space-between;
        transform: none;
    }

    &__title {
        text-align: start;
    }

    &__img-overlay::after {
        transform: none;
        transition: background-color $_background-clr-trans-dur ease-in;
    }

    &:focus {
        @include property-from-list(background-color, $_bg-hover-clrs-list, ".guide__img-overlay::after");
    }
}

@mixin collapsed-style {
    width: 100%;
    aspect-ratio: unset;

    &__content {
        padding: 1em 2em 1.5em 1em;
    }

    &__img {
        display: none;
    }

    &__title {
        text-align: start;
    }

    &__title-container {
        position: static;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        transform: none;
    }

    &__number {
        display: initial;
        font-size: fs(900);
    }

    &__desc {
        text-align: start;
        transform: none;
        visibility: visible;
        opacity: 0.9;
    }

    &__img-overlay::after {
        transform: none;
        transition: background-color $_background-clr-trans-dur ease-in;
    }

    &:hover,
    &:focus {
        @include property-from-list(background-color, $_bg-hover-clrs-list, ".guide__img-overlay::after");
    }
}