@use '../variables/all' as *;

.hamburger {
    padding: space(300);

    &:hover {
        background-color: clr-primary(600);
    }

    .icon {
        width: 30px;
        height: 30px;
        color: $text-color-light;
    }
}