@use '../variables/all' as *;

.hamburger {
    padding: .6em;

    &:hover {
        background-color: $clr-primary-600;
    }

    .icon {
        width: 30px;
        height: 30px;
        color: $text-color-light;
    }
}