@use "../variables/colors" as *;
@use "../variables/type-vars" as *;
@use "../variables/spacing" as *;
@use '../variables/misc' as *;

.lang-select {
    position: relative;

    &__btn {
        color: currentColor;
        font-weight: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        white-space: nowrap;
        text-transform: inherit;
        vertical-align: middle;
    }

    &__drop-menu {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 4; // Might cause some problems later, idk & idc
        display: none;
        flex-direction: column;
        background-color: $clr-neutral-100;
        border-radius: $border-radius;
        transform: translateY(100%) translateX(-50%);
        @include shadow-400;

        &.menu--expanded {
            display: flex;
        }
    }

    &__item {
        padding: 1em 2em 1em 1em;
        font-weight: inherit;

        &:hover {
            background-color: $clr-neutral-300;
        }
    }
}