@use '../variables/colors' as *;
@use '../variables/type-vars' as *;

.logo {
    display: flex;
    align-items: center;
    gap: 1em;

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $text-color-light;
        align-items: flex-start;
    }

    &__title {
        font-weight: bold;
        ;
        font-size: $fs-400;
    }

    &__tagline {
        font-size: $fs-300;
    }

    &__img {
        width: 70px;
        height: 70px;
    }
}