@use '../variables/colors.scss' as *;
@use '../variables/misc.scss' as *;

.main-nav {
    display: flex;
    align-items: center;
    color: $text-color-light;
    border-top: 1px solid $border-light-200;
    font-family: 'Hk Grotesk';

    &__btn,
    &__link {
        font-size: inherit;
        color: inherit;
        padding: 1.5em 1em;
        display: block;
        width: 100%;
        text-align: start;

        &:hover {
            background-color: $clr-primary-600;
        }
    }

    &__item {
        position: relative;
    }

    &__additional-item,
    &__close-btn {
        display: none;
    }

    &__additional-link {
        color: $clr-accent-golden;
        text-decoration: underline;
        font-weight: normal
    }
}

@mixin collapsed-style {
    $animation-dur: 250ms;
    $fade-in-dur: 300ms;

    position: fixed;
    inset: 0;
    transform: translateX(-100%);
    padding: 2em;
    overflow-y: scroll;

    flex-direction: column;
    align-items: stretch;

    background-color: inherit;
    transition: transform $animation-dur ease-in-out;

    & > * {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        transition-delay: $animation-dur + 50ms;
    }

    &__close-btn {
        display: initial;

        .icon {
            width: 35px;
            height: 35px;
        }

        color: inherit;
        margin-bottom: 2em;
        margin-left: auto;

        &:hover {
            background-color: $clr-primary-600;
        }
    }

    &__item {
        @include not-last {
            border-bottom: 2px solid $border-light-100;
        }
    }

    &__btn,
    &__link {
        font-weight: bold;
        padding-block: 1em;
    }

    &__btn {
        display: flex;
        justify-content: space-between;

        .icon {
            transition: transform 150ms ease-out;
        }

        @include btn-expanded {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    @include menu-expanded {
        transform: none;

        & > * {
            opacity: 1;
        }
    }
}