@use '../variables/all' as *;

.search-bar-toggle {
    $animation-dur: 150ms;
    position: relative;
    align-self: center;
    padding: 0.75em;
    color: $clr-primary-100;
    border-radius: 100vh;

    &__close-icon,
    &__open-icon {
        height: 30px;
        color: $text-color-light;
        transition: opacity $animation-dur ease-in;
        aspect-ratio: 1;
    }

    &__close-icon {
        position: absolute;
        box-sizing: content-box;
        padding: inherit;
        opacity: 0;
        inset: 0;
    }

    &__open-icon {
        transition-delay: $animation-dur - 100ms;
    }

    &:hover {
        background-color: $clr-primary-600;
    }

    @include btn-expanded(".search-bar-toggle") {

        &__close-icon {
            opacity: 1;
            transition-delay: $animation-dur - 100ms;
        }

        &__open-icon {
            opacity: 0;
            transition-delay: 0ms;
        }
    }
}