@use '../variables/all' as *;

.search-bar {
    display: flex;
    align-items: stretch;
    font-size: fs(300);

    &__input {
        flex-grow: 1;
        font-size: inherit;
        border: none;
        @include no-border-radius-right;
    }

    &__btn {
        padding: 0.75em;
        @include no-border-radius-left;
        font-size: inherit;

        svg {
            fill: white;
        }
    }
}