{% block css %}
    <link rel="stylesheet" href="/css/layout/footer.css">
{% endblock %}

<footer class="footer">
    <div class="logo">
        <img class="logo__img" src="/assets/seal.svg"/>
        <h3 class="logo__title">Algerien Ministry of Interior</h3>
    </div>
    <div class="content-container">
        <div class="info">
            <p class="footer__address">
                    Dr Ch. Saadane St, El Djazair 16000
                </p>
            <p class="footer__phone">
                   +213 21 75 23 40
                </p>
        </div>
        <div class="links-container">
            <nav class="footer__nav-list">
                <a href="#" class="footer__nav-item">Gallery</a>
                <a href="#" class="footer__nav-item">Magazine</a>
                <a href="#" class="footer__nav-item">Sitemap</a>
                <a href="#" class="footer__nav-item">Useful Links</a>
            </nav>
            <div class="footer__social-list">
                <a href="" class='footer__social-link' aria-label='youtube'>
                    <svg class="icon" >
                        <use href="/assets/social.svg#youtube"></use>
                    </svg>
                </a>
                <a href="" class='footer__social-link' aria-label='instagram'>
                    <svg class="icon" >
                        <use href="/assets/social.svg#instagram"></use>
                    </svg>
                </a>
                <a href="" class='footer__social-link' aria-label='twitter'>
                    <svg class="icon" >
                        <use href="/assets/social.svg#twitter"></use>
                    </svg>
                </a>
                <a href="" class='footer__social-link' aria-label='facebook'>
                    <svg class="icon" >
                        <use href="/assets/social.svg#facebook"></use>
                    </svg>
                </a>
                <a href="" class='footer__social-link' aria-label='rss'>
                    <svg class="icon" >
                        <use href="/assets/social.svg#rss"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>