{%- from 'components/search-bar.macro.njk' import searchBar %}
{%- from 'components/search-bar-toggle.macro.njk' import searchBarToggle %}
{%- from 'components/lang-select.macro.njk' import langSelect %}

<head>
    <link rel="stylesheet" href="/css/layout/header.css">
    <script src="/scripts/menu-control.js"></script>
    <script src="/scripts/modal-control.js"></script>
</head>

<header class="upper-header">
    <div class="upper-header__logo">
        <img class="upper-header__logo-img" src="/assets/seal.svg"/>
        Ministry of Interior
      </div>
    <span class='upper-header__call-us'>Call Us <strong>1100</strong>
    </span>

    <div class="secondary-nav">
        <nav class="container">
            <a href="#" class="secondary-nav__item"> Sitemap </a>
            <a href="#" class="secondary-nav__item"> Useful Links </a>
        </nav>
        {{langSelect()}}
    </div>

    {{searchBar()}}
</header>
<header class="main-header">
    <div class="logo">
        Ministry of Interior
      </div>

    <nav class="main-nav" id='main-nav' data-modal='true' data-prevent-scroll='true'>

        <button class="main-nav__close-btn" aria-controls="main-nav" aria-expanded='false' data-modal-btn='true'>
            <div class="icon icon-small">
                {% include "../../assets/icons/close.svg" %}
            </div>
        </button>
        {% set menuCount = 1%}
        {%- for item in navigation %}
            <div class='main-nav__item'>
                {% if item.expandable %}
                    <button class="main-nav__btn" aria-controls='nav-menu-{{menuCount}}' aria-expanded='false' data-expand-btn="true">
                        {{item.label}}
                        <div class="icon icon-small main-nav__icon" >
                            {% include "../../assets/icons/dropdown.svg" %}
                        </div>
                    </button>

                    <div class="nav-link-menu" id="nav-menu-{{menuCount}}" data-collapse-outside='true'>
                        {%- for list in item.lists %}
                            <div class="nav-link-menu__list">
                                {% if list.title %}
                                    <span class='nav-link-menu__title'>{{list.title}}
                                    </span>
                                {% endif %}
                                {%- for name, item in list.links %}
                                    <a href={{item}} class='nav-link-menu__link'>{{name}}</a>
                                {% endfor -%}
                            </div>
                        {% endfor -%}
                    </div>
                    {% set menuCount = menuCount + 1%}

                {% else %}
                    <a href="{{item.link}}" class="main-nav__link">{{item.label}}</a>
                {% endif %}
            </div>
        {% endfor -%}
        <div class='main-nav__item main-nav__additional-item'>
            <a href="#" class="main-nav__link main-nav__additional-link"> Sitemap </a>
        </div>
        <div class='main-nav__item main-nav__additional-item'>
            <a href="#" class="main-nav__link main-nav__additional-link"> Useful Links </a>
        </div>

    </nav>
    <div id='main-header__search-bar-container' class="main-header__search-bar-container">

        {{searchBar()}}
    </div>
    {{searchBarToggle('main-header__search-bar-container')}}
    <button class="hamburger" aria-controls='main-nav' aria-expanded='false' data-modal-btn='true'>
        <div class="icon hamburger__icon" >
            {% include "../../assets/icons/hamburger.svg" %}
        </div>
    </button>
</header>