{%- from "components/search-bar.macro.njk" import searchBar %}
{%- from 'components/lang-select.macro.njk' import langSelect %}
{%- from 'components/search-bar-toggle.macro.njk' import searchBarToggle %}

{% block scripts %}
    <script src='/scripts/menu-control.js'></script>
    <script src='/scripts/modal-control.js'></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/layout/online-services-header.css">
{% endblock %}

<header class="os-upper-header">
    <a href="#" class='os-upper-header__account-btn'>
        <i class="icon icon-small">{% include '../../assets/icons/account.svg' %}</i>Account</a>
    {{langSelect()}}
    <nav class="os-upper-header__nav-list">
        <a href="#" class='os-upper-header__link'>Back to interior ministry website</a>
    </nav>
</header>
<header class="os-main-header">
    <div class="content">
        <div class="logo">
            <img class="logo__img" src="/assets/seal.svg"/>
            <div class="logo__content">
                <span class='logo__title'>Ministry of Interior</span>
                <span class='logo__tagline'>Online Services</span>
            </div>
        </div>
        <div class="controls">
            <a href="#" class='btn-primary btn-small os-main-header__login-btn'>Account Login</a>
            {{searchBarToggle('os-main-header__search-bar-container')}}
            <button class="hamburger" aria-controls='os-main-nav' aria-expanded='false' data-modal-btn='true'>
                <div class="icon hamburger__icon" >
                    {% include "../../assets/icons/hamburger.svg" %}
                </div>
            </button>

            <div class="os-main-header__search-bar-container" id="os-main-header__search-bar-container">
                {{searchBar("Search","os-main-header__search-bar")}}
            </div>
        </div>
    </div>
    <nav class="os-main-nav" data-modal='true' data-prevent-scroll='true' id='os-main-nav'>
        <button class="os-main-nav__close-btn" aria-controls='os-main-nav' aria-expanded='false' data-modal-btn='true'>
            <div class="icon">
                {% include "../../assets/icons/close.svg" %}
            </div>
        </button>
        {% set menuCount = 1%}
        {%- for item in svnavigation %}
            <div class='os-main-nav__item'>
                {% if item.expandable %}
                    <button class="os-main-nav__btn" aria-controls='nav-menu-{{menuCount}}' aria-expanded='false' data-expand-btn="true">
                        {{item.label}}
                        <div class="icon icon-small os-main-nav__icon" >
                            {% include "../../assets/icons/dropdown.svg" %}
                        </div>

                    </button>

                    <div class="menu-collapse os-nav-link-menu" id="nav-menu-{{menuCount}}" data-collapse-outside='true'>
                        {%- for list in item.lists %}
                            {%- for name, item in list.links %}
                                <a href={{item}} class='os-nav-link-menu__link'>{{name}}</a>
                            {% endfor -%}
                        {% endfor -%}
                    </div>
                    {% set menuCount = menuCount + 1%}

                {% else %}
                    <a href="{{item.link}}" class="os-main-nav__link">{{item.label}}</a>
                {% endif %}
            </div>
        {% endfor -%}
        <div class='os-main-nav__item os-main-nav__additional-item'>
            <a href="#" class='os-main-nav__link os-main-nav__additional-link'>Back to interior ministry website</a>
        </div>
    </nav>
</header>