{% macro article(title, img, date, body, class = "article") %}
    <div class="card {{ class }}" >
        <img class="{{ class }}__img"src='{{img}}'alt="" >
        <div class="{{ class }}__content">

            <h4 class="card-title {{ class }}__title">
                {{ title }}
            </h4>

            {%if date %}
                <p class="{{ class }}__date">
                    {{date}}
                </p>
            {% endif %}

            <p class="{{class}}__body">
                {{body}}
            </p>

            <a href="{{link}}" class="read-more">Read More</a>
        </div>
    </div>
{% endmacro %}