{% macro textfield(label, placeholder, class = '') %}
    <div class="textfield {{class}}">
        <label for="{{label}}" class='label'>
            {{label}}
        </label>
        <input type="text" for="{{label}}" placeholder="{{placeholder}}"class='text-input'>
    </div>
{% endmacro %}
{% macro textarea(label, placeholder, class = '') %}
    <div class="textfield textarea {{class}}">
        <label for="{{label}}" class='label'>
            {{label}}
        </label>
        <textarea type="text" for="{{label}}" placeholder="{{placeholder}}"class='text-input'></textarea>
    </div>
{% endmacro %}