{% macro textfield(label, placeholder = '', class = '', size = null, params = '') %}
    <div class="input-field-container {{class}}">
        <label for="{{label}}" class='label'>
            {{label}}
        </label>
        <input type="text" for="{{label}}" {{params}} placeholder="{{placeholder}}"class='input-field text-input'
        {% if size %}
            size={{size}}
        {% endif %}
        >
    </div>
{% endmacro %}

{% macro textarea(label, placeholder = '', class = '', size = null, params = '') %}
    <div class="input-field-container textarea {{class}}">
        <label for="{{label}}" class='label'>
            {{label}}
        </label>
        <textarea type="text" for="{{label}}" placeholder="{{placeholder}}" {{params}} class='input-field text-input'
        {% if size %}
            size={{size}}
        {% endif %}
></textarea>
    </div>
{% endmacro %}

{% macro radioButton(label, name, value, id, class = '', params = '') %}
    <div class="input-field-container radio-button {{class}}">
        <input class="input-field"type="radio" id="{{id}}" name="{{name}}" value="{{value}}" {{params}}>
        <label for={{id}}>{{label}}</label>
    </div>
{% endmacro %}

{% macro datePicker(label, name, id, min = '', max = '', value = '', class = '') %}
    <div class="input-field-container date-picker {{class}}">
        <label for="{{id}}">{{label}}</label>
        <input  type="date"
                id="{{id}}" 
                name="{{name}}"
                min="{{min}}"
                max="{{max}}"
                value="{{value}}"
                class="input-field text-input"
        >
    </div>
{% endmacro %}