{% macro searchBarToggle(id) %}
    <button class="search-bar-toggle" aria-controls='{{id}}' aria-expanded='false' data-expand-btn="true">
        <i class="icon search-bar-toggle__open-icon">{% include '../../assets/icons/search.svg'%}</i>
        <i class="icon search-bar-toggle__close-icon">{% include '../../assets/icons/close.svg'%}</i>
    </button>
{% endmacro %}