@use '../variables/all' as *;

.input-field-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;

    &--horizontal {
        flex-direction: row;
    }
}

.input-field {

    max-width: 100%;
    padding: 1em 0.5em;
    color: $text-color-dark;
    font-size: fs-rs(400);
    font-family: $font-family-primary;
    background-color: clr-neutral(100);
    border: none;
    border-radius: $border-radius;

    &::placeholder {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        opacity: 0.8;
    }
}

.text-input {
    display: inline-block;
}

fieldset {
    border: none;
}

label,
legend {
    color: $text-color-dark;
    font-weight: bold;
    font-size: fs(500);

    @media screen and (max-width: 600px) {
        font-size: fs(400);
    }

    @media screen and (max-width: 300px) {
        font-size: fs(300);
    }
}

legend {
    margin-bottom: 1em;
}