@use '../main.scss' as *;

.procedures {

    &__no-result {
        display: none;
        grid-column: 1 / -1;
    }
}

.filter {
    margin: space-rs(800) -2em;
    padding: space-rs(600);
    background-color: clr-primary(200);

    .text-input {
        width: clamp(min(300px, 100%), 40%, 700px);
    }
}

.procedures-list {
    @include grid-center;
    @include grid-preferred-columns(3, 260px, space-rs(600), space-rs(600))
}

.procedure-card {
    display: flex;
    flex-wrap: wrap;
    gap: space(400);
    align-items: center;
    padding: space(500);
    font-size: fs(400);
    transition: transform 200ms ease-in;

    &__content {
        display: flex;
        flex: 1 1 220px;
        flex-direction: column;
    }

    &__title {
        margin-block: 0 .5em;
        font-size: fs(500);
    }

    &__desc {
        flex-grow: 1;
        margin: 0;
        font-size: inherit;
    }

    &__icon {
        flex-shrink: 0;
        width: clamp(50px, 35%, 85px);
        fill: $text-color-dark;
        aspect-ratio: 1;
    }

    &__title,
    &__desc {
        transition: $transition-clr;
    }

    &:hover {
        transform: scale(1.1);

        .procedure-card__title,
        .procedure-card__desc {
            color: $clr-secondary;
        }
    }
}

@media screen and (max-width: 500px) {

    .procedure-card {

        &__title {
            font-size: fs(400);
        }
    }
}