@use '../main' as *;
@use '../variables/all' as *;

.form-pagination {
    padding: clamp(24px, 5vh, 128px) max(var(--horizontal-padding), 5vw);
    background-color: clr-primary(200);
    margin-block: space-rs(700);
    @include bypass-horizontal-padding;

    ul {
        display: flex;
        gap: space(500);
        justify-content: space-between;
        max-width: 1200px;
        list-style: none;
        margin-inline: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: space(400);
        align-items: center;
        margin: 0;
    }

    &__number {
        $size: 60px;
        width: $size;
        color: $text-color-light;
        font-weight: bold;
        font-size: fs(800);
        font-family: $font-family-secondary;
        line-height: $size;
        text-align: center;
        border-radius: 100vh;
    }

    &__name {
        text-align: center;
    }

    &__item--current {

        .form-pagination {

            &__name {
                color: $clr-secondary;
                font-weight: bold;
            }

            &__number {
                background-color: $clr-secondary;
            }
        }

    }

    &__item--next {

        .form-pagination {

            &__number {
                background-color: clr-primary(700);
                opacity: 0.6;
            }
        }

    }
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: space-rs(700);
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    gap: space(400) space(700);
}

.radio-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: space(300) space(400);
}

#birth-municipality {
    width: 300px;
}

.submit-btn {
    margin-top: space-rs(800);
}

@media screen and (max-width: 800px) {

    .form-pagination {

        &__number {
            $size: 50px;
            width: $size;
            font-size: fs(600);
            line-height: $size;
        }
    }
}

@media screen and (max-width: 600px) {

    .form-pagination {

        ul {
            flex-direction: column;
        }

        &__item {
            flex-direction: row;
        }
    }
}