@use '../main.scss' as *;

section:not(:first-child) {
    padding-top: space-rs(900);
}

.table-container {
    width: 100%;
    padding: space(500);
    background-color: clr-neutral(200);
    border: 1px solid $border-dark-400;
}

.requests-table {
    width: 100%;
    color: $text-color-dark;
    font-size: fs(400);
    border-collapse: collapse;

    th {
        padding-bottom: 1em;
        font-size: fs(500);
        font-family: $font-family-secondary;
        text-align: start;
    }

    tr:not(:last-child) {
        border-bottom: 1px clr-neutral(600) solid;
    }

    td {
        padding-block: 1em;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: space-rs(500);
        align-items: center;

        button {
            font-size: inherit;
        }
    }

    &__print-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: space(300);
        vertical-align: middle;

        svg {
            width: 100%;
            height: 100%;
            fill: currentcolor;
        }
    }

    &__row-label {
        display: none;
    }
}

@media screen and (max-width: 1100px) {

    .requests-table {
        font-size: fs(300);
    }
}

@media screen and (max-width: 900px) {

    .table-container {
        padding: 0;
    }

    .requests-table__actions {
        display: flex;
        max-width: none;
    }

    .requests-table {
        display: block;
        font-size: fs(400);

        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        th {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td {
            position: relative;
            display: flex;
            border: none;
            padding-inline: 1em;
        }

        .has-label {

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                display: none;
                box-sizing: border-box;
                padding-left: 1em;
                white-space: nowrap;
                transform: translateY(-50%);
                padding-block: inherit;
            }
        }

        &__row-label {
            display: block;
            flex-shrink: 0;
            width: max(140px, 30%);
            font-weight: bold;
        }

        &__print-btn {
            font-size: fs(100);
        }

        &__print-icon {
            width: 24px;
        }

        tbody tr {
            padding-block: space(500);
        }
    }
}

@media screen and (max-width: 600px) {

    .requests-table {
        font-size: fs(300);
    }
}