@use '../variables/type-vars' as *;
@use '../variables/misc' as *;
@use '../variables/colors' as *;
@use '../components/article.scss' as article;
@use '../components/pagination-menu.scss' as pagination-menu;

$post-gap: 4em;

.index-page {
    padding: var(--section-spacing-large) var(--horizontal-padding);

    &__posts-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: $post-gap;
        justify-content: stretch;
    }

    &__pagination-container {
        margin: 4em auto 0 auto;
        font-size: $fs-500;

        .pagination-menu {
            @include pagination-menu.base-style;
        }
    }

}

.post {
    @include article.horizontal-style;

    &__img {
        width: 30%;
        aspect-ratio: 2;
    }

    &__title {
        font-size: $fs-600;
    }
}

@media screen and (max-width: 1200px) {

    .index-page {

        &__pagination-container {
            font-size: $fs-400;
        }

    }
}

@media screen and (max-width: 1000px) {

    .index-page {

        &__posts-list {
            @include grid-preferred-columns(2, 300px, $post-gap, $post-gap);
        }

        &__pagination-container {
            font-size: $fs-300;
        }
    }

    .post {
        @include article.horizontal-style--override;
        flex-grow: 1;

        &__title {
            font-size: $fs-500;
        }
    }

}

@media screen and (max-width: 800px) {

    .pagination-menu {
        @include pagination-menu.stick;
        @include pagination-menu.decrease-items;
    }
}

@media screen and (max-width: 500px) {

    .index-page {

        &__pagination-container {
            font-size: $fs-200;
        }
    }

    .post {

        &__title {
            font-size: $fs-400;
        }
    }
}

@media screen and (max-width: 450px) {

    .pagination-menu {
        @include pagination-menu.wrap;
    }
}