@use '../main.scss' as *;

.post-title {
    $pattern-clr-dark: $clr-primary-900;
    $pattern-clr-light: $clr-primary-800;

    width: 100%;
    padding: 4em;
    text-align: center;
    background: $clr-primary-300;

    background: linear-gradient(324deg, $pattern-clr-dark 4%, transparent 4%) -70px 43px,
        linear-gradient(36deg, $pattern-clr-dark 4%, transparent 4%) 30px 43px,
        linear-gradient(72deg, $pattern-clr-light 8.5%, transparent 8.5%) 30px 43px,
        linear-gradient(288deg, $pattern-clr-light 8.5%, transparent 8.5%) -70px 43px,
        linear-gradient(216deg, $pattern-clr-light 7.5%, transparent 7.5%) -70px 23px,
        linear-gradient(144deg, $pattern-clr-light 7.5%, transparent 7.5%) 30px 23px,

        linear-gradient(324deg, $pattern-clr-dark 4%, transparent 4%) -20px 93px,
        linear-gradient(36deg, $pattern-clr-dark 4%, transparent 4%) 80px 93px,
        linear-gradient(72deg, $pattern-clr-light 8.5%, transparent 8.5%) 80px 93px,
        linear-gradient(288deg, $pattern-clr-light 8.5%, transparent 8.5%) -20px 93px,
        linear-gradient(216deg, $pattern-clr-light 7.5%, transparent 7.5%) -20px 73px,
        linear-gradient(144deg, $pattern-clr-light 7.5%, transparent 7.5%) 80px 73px;
    background-color: $pattern-clr-dark;
    background-size: 100px 100px;

    &__heading {
        color: $text-color-light;
    }

    &__date {
        color: $text-color-light;
        font-size: $fs-600;
        font-style: italic;
    }
}

.post {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: var(--section-spacing-large) var(--horizontal-padding);
    column-gap: 5%;

    &__content {
        flex: 9 0 min-content;
        min-width: 0;
        padding-top: 1em;

        & > :first-child {
            margin-top: 0
        }

        h2 {
            font-size: $fs-900;
        }

        h3 {
            font-size: $fs-800;
        }
    }
}

.post--no-toc {

    .post__content {
        flex-basis: fit-content;
        flex-grow: 0;
        margin-inline: auto;
    }
}

.toc {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex: 1 0 30%;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em 2em 2em 0;
    border-right: 1px solid $clr-primary-300;

    &__title {
        font-size: var(--fs-responsive-h3);
    }

    &__list {
        font-size: $fs-400;

        li {
            list-style: none;
        }
    }

    &__item {
        display: inline-block;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: inherit;
        transition: $transition-clr;

        &:hover {
            color: $clr-secondary
        }
    }

    @for $i from 1 through 6 {
        &__level-#{$i} {
            margin: 0;
            margin-left: ($i - 1) * 0.75em;
        }
    }
}

@media screen and (max-width:1000px) {

    .post {
        flex-direction: column;

        &__content {
            @for $i from 1 through 6 {
                h#{$i} {
                    font-size: var(--fs-responsive-h#{$i});
                }
            }
        }
    }

    .toc {
        position: static;
        min-width: min(100%, 400px);
        min-height: auto;
        margin-bottom: clamp(40px, 10vh, 80px);
        padding: 2em 1em 4em 1em;
        background-color: $clr-primary-200;
        border: none;
        margin-inline: 0;
    }
}

@media screen and (max-width: 700px) {

    .post-style {

        &__date {
            font-size: $fs-500
        }
    }
}

@media screen and (max-width: 500px) {

    .toc {
        font-size: $fs-200;
    }
}