@use '../main.scss' as *;
@use '../components/post-card-img.modular.scss' as post-card-img;

$post-gap: space-rs(700);

.index-page {

    &__posts-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: $post-gap;
        justify-content: stretch;
    }
}

.post {
    @include post-card-img.horizontal-style;

    &__img {
        width: 30%;
        aspect-ratio: 2;
    }

    &__title {
        font-size: fs(600);
    }
}

@media screen and (max-width: 1000px) {

    .index-page {

        &__posts-list {
            @include grid-preferred-columns(2, 300px, $post-gap, $post-gap);
        }
    }

    .post {
        @include post-card-img.horizontal-style--override;
        flex-grow: 1;

        &__title {
            font-size: fs(500);
        }
    }

}

@media screen and (max-width: 500px) {

    .post {

        &__title {
            font-size: fs(400);
        }
    }
}