{% extends "base-layout.njk" %}
{% set title = "Passport Admin Procedures" %}

{% block content %}
    <main class="page-content-container">
        <section>
            <h1 >Nationl Id Card </h1>
            <p>Dolore velit proident sint adipisicing dolore laboris tempor culpa cupidatat tempor nostrud ex Lorem.</p>
        </section>
        <section>
            <h2 class='fs-h4'>For those living in Algeria</h2>
            <ul>
                <li>
                    <a href="new-national-id-card-request-for-a-local" class='link-primary'>New request</a>
                </li>
                <li>
                    <a href="#" class='link-primary'>Renewal</a>
                </li>
                <li>
                    <a href="#" class='link-primary'>Lost or stolen</a>
                </li>
            </ul>
        </section>
        <section>
            <h2 class='fs-h4'>For those living abroad</h2>
            <ul>
                <li>
                    <a href="/new-national-id-card-request-for-a-local" class='link-primary'>New request</a>
                </li>
                <li>
                    <a href="#" class='link-primary'>Renewal</a>
                </li>
                <li>
                    <a href="#" class='link-primary'>Lost or stolen</a>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}