{% extends "base-layout.njk" %}
{% set title = "New National Id Card Request" %}

{% block content %}
    <main class="page-content-container">
        <section>
            <h1 >National i.d card Request for a local</h1>
            <p>Dolore velit proident sint adipisicing dolore laboris tempor culpa cupidatat tempor nostrud ex Lorem.</p>
        </section>
        <section>
            <h2 >Files</h2>
            <ul>
                <li>Velit eiusmod in adipisicing sit qui dolore ipsum sint exercitation.</li>
                <li>Tempor ullamco enim cupidatat dolore minim laborum cupidatat.Est quis magna voluptate nulla proident magna reprehenderit mollit exercitation nulla consectetur irure.</li>
                <li>Ex duis ad sint elit nulla mollit dolor do mollit officia ut tempor ullamco eiusmod.</li>
                <li>Anim adipisicing velit est duis.</li>
                <li>Excepteur aliquip dolore Lorem incididunt ad veniam in occaecat ullamco anim aute.Anim reprehenderit labore ut ipsum dolor pariatur pariatur.Nulla ad elit ut laborum esse irure laborum.</li>
            </ul>
        </section>
        <section>
            <h2 >Retrieval</h2>
            <ul>
                <li>A, imperdiet fames eget parturient. Sed ac, pellentesque pulvinar dis porta. Cras facilisis hendrerit justo, sit orci elementum dignissim a. Nunc vel quisque leo magna lectus dictum imperdiet. Pellentesque blandit molestie vel scelerisque nec ac eget vitae.</li>
                <li>Consequat reprehenderit aliqua dolore laborum eiusmod magna tempor elit ad ut sit ut.</li>
                <li>Irure sit magna ea laborum.Consectetur duis id voluptate mollit fugiat tempor.</li>
            </ul>
        </section>
    </main>
{% endblock %}