---
layout: global-layout.njk
pagination:
    data: posts
    alias: post
    size: 1
eleventyComputed:
    title: "{{post.title}}"
    permalink: "/{{post.link}}"
---

<head>
    <link rel="stylesheet" href="/css/pages/post.css">
</head>

<div class="post-title">
    <h1 class='post-title__heading'>{{post.title}}</h1>
</div>
<section class="post">
    <div class="toc">
        <h2 class='toc__title'>Contents</h2>
        <ul class='toc__list'>
            {{post.headings | myfilter | safe}}
        </ul>
    </div>
    <main class="post__content">
        {{post.content | safe}}
    </main>
</section>