---js
{
    "pagination":{
        "data": "guides",
        "alias": "guide",
        "size": 1
        },
    "eleventyComputed":{
        "permalink": "/{{guide.link}}",
        
    }
}
---

{% extends "base-layout.njk" %}

{% set title = guide.title %}

{% block css %}
    {{super()}}
    <link rel="stylesheet" href="/css/pages/guide.css">
{% endblock %}

{% block content %}
    <div class="guide-info">
        <div class="guide-info__container">
            <h1 class="guide-info__title">
                {{guide.title}}
            </h1>
            <span class="guide-info__date">{{guide.date | formatDate}}</span>
        </div>
        <div class="guide-info__img-container">
            <img src="{{ guide.featured_img_url }}" alt="" class="guide-info__img">
            <div class="guide-info__img-overlay"></div>
        </div>
    </div>
    <section class="guide">
        <main class="guide__content">
            {{guide.content_rendered | safe}}
        </main>
    </section>
{% endblock %}